* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
#main {
    width: 100%;
   
}
body {
    background-color: rgb(240,240,240);

}
.header {
    width: 1170px;
    height: 200px;
    margin: auto;
    margin-top: 10px;
}
.header-top {
    width: 100%;
    height: 46px;
    background-color: rgb(15,63,37);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon i {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 18px;
    padding: 10px;
    overflow: hidden;
    transition: 0.2s linear;
    
}
.header-icon i:hover {
   color: 	#F4A460;
   cursor: pointer;
   font-size: 22px;  
}
.header-contact a {
    margin-right: 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.header-contact i {
    margin-right: 15px;
    font-size: 20px;
}
.header-main {
    width: 100%;
    height: 180px;
    box-sizing: border-box;
}
.header-banner {
    position: relative;
}
.header-banner img{
    width: 100%;
    height: 180px;
    position: relative;
}
.header-logo img {
    width: 130px;
    height: 78px;
    position: absolute;
    top: 0;   
    margin-top: 100px;
    margin-left: 10px;
}
.header-menu {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    width: 800px;
    height: 50px;
}
.nav-menu {
    display: flex;
    margin-left: 25px;
}
.nav-menu li {
    width: 140px;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu li:hover {    
    background:#F4A460;
}
.nav-menu a{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    
}
.nav-menu i {
    margin-right: 10px; 
    font-size: 18px;
}
.header-search input{
    border-radius: 10px;
    padding: 6px 6px;
    box-sizing: border-box; 
    background-image: url("/Front_end/Stone/assets/images/search\ \(2\).svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
    outline: none;
    border: none;
    
}
.flag img{
    margin-right: 15px;
    width: 80px;
}
.slider {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 86px;
}
.sidebar {
    width: 250px;
    height: 3304px;
    padding-right:10px ;
    background-color: white;
}
.sidebar-category {

}
.contact {
    width: 900px;
    height: 3290px;
}
.contact-banner {
    background-image: url("/Front_end/Stone/assets/images/slider.jpeg");
    width: 900px;
    height: 292px;
    right: 0;
    top: 0;
    position: absolute;
}
.sidebar-category {
    width: 248px;
    height: 3304px;
    padding-right: 10px;
 
}
.category {
    display: block;
    padding: 10px 30px;
    border: 1px solid rgb(51,51,51);
    background-color: rgb(51,51,51);
    color: white;
   
  
}
.subcategory li {
    list-style: none;
}
.subcategory a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #000;
    padding: 10px 25px; 
    border-bottom: 1px solid #ccc;
    
}
.subcategory a:hover {
    color: 	#F4A460;
}
.sidebar-hotline {
    margin-top: 20px;
}
.sidebar-hotline img {
    width: 238px;
    height: 166px;
}
.sidebar-hotline h2 {
    font-size: 18px;
    color: #F4A460;
    margin-left: 20px;
    margin-top: 10px;
}
.sidebar-hotline h3 {
    font-size: 22px;
    color: red;
    margin-left: 70px;
    margin-top: 5px;
}
.sidebar-hotline p {
    color: red;
    font-size: 16px;
    margin-left: 10px;
}